a{
    text-decoration: none;
    margin-left: .5rem;
    color: #da9191;
}
a:hover{
    transition: .1s;
    border-bottom: 2px solid rgb(212, 132, 132);
}
.menu-bar{
    background-color: #414B4F;
}
.menu-bar span{
    display: flex;
    justify-content: center;
    align-items: center;
}